.profileImage {
    border-radius: 5rem;
    width: 150px;
    height: 150px;
    margin-top: 2rem;
}

.cImg image {
    align-self: center;
}

.ML-3 {
    margin-left: 3rem;
}

.fontColor {
    color: #023E8A
}